# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/figures
dist/
tmp/
deliverables/
paper/
data/interim/
data/processed/
data/submissions/

# OS
.DS_Store
Thumbs.db
